ProjectWebservices_Console/Service References/LogfileService/ProjectWebservices_Wcf.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ProjectWebservices_Wcf" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ProjectWebservices_Wcf" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfLogfile">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Logfile" nillable="true" type="tns:Logfile" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLogfile" nillable="true" type="tns:ArrayOfLogfile" />
  <xs:complexType name="Logfile">
    <xs:sequence>
      <xs:element minOccurs="0" name="Alarm" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Apartment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Department" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Disposed" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Time" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Logfile" nillable="true" type="tns:Logfile" />
</xs:schema>