ProjectWebservices_Console/Service References/LogfileService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LogfileService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ProjectWebservices_Wcf" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILogfileService_Log_InputMessage">
    <wsdl:part name="parameters" element="tns:Log" />
  </wsdl:message>
  <wsdl:message name="ILogfileService_Log_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogResponse" />
  </wsdl:message>
  <wsdl:message name="ILogfileService_ReadLogfiles_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadLogfiles" />
  </wsdl:message>
  <wsdl:message name="ILogfileService_ReadLogfiles_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadLogfilesResponse" />
  </wsdl:message>
  <wsdl:message name="ILogfileService_DisposeAlarm_InputMessage">
    <wsdl:part name="parameters" element="tns:DisposeAlarm" />
  </wsdl:message>
  <wsdl:message name="ILogfileService_DisposeAlarm_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisposeAlarmResponse" />
  </wsdl:message>
  <wsdl:message name="ILogfileService_SendLogString_InputMessage">
    <wsdl:part name="parameters" element="tns:SendLogString" />
  </wsdl:message>
  <wsdl:message name="ILogfileService_SendLogString_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendLogStringResponse" />
  </wsdl:message>
  <wsdl:portType name="ILogfileService">
    <wsdl:operation name="Log">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogfileService/Log" message="tns:ILogfileService_Log_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogfileService/LogResponse" message="tns:ILogfileService_Log_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadLogfiles">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogfileService/ReadLogfiles" message="tns:ILogfileService_ReadLogfiles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogfileService/ReadLogfilesResponse" message="tns:ILogfileService_ReadLogfiles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DisposeAlarm">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogfileService/DisposeAlarm" message="tns:ILogfileService_DisposeAlarm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogfileService/DisposeAlarmResponse" message="tns:ILogfileService_DisposeAlarm_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendLogString">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogfileService/SendLogString" message="tns:ILogfileService_SendLogString_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogfileService/SendLogStringResponse" message="tns:ILogfileService_SendLogString_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILogfileService" type="tns:ILogfileService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Log">
      <soap:operation soapAction="http://tempuri.org/ILogfileService/Log" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadLogfiles">
      <soap:operation soapAction="http://tempuri.org/ILogfileService/ReadLogfiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DisposeAlarm">
      <soap:operation soapAction="http://tempuri.org/ILogfileService/DisposeAlarm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendLogString">
      <soap:operation soapAction="http://tempuri.org/ILogfileService/SendLogString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LogfileService">
    <wsdl:port name="BasicHttpBinding_ILogfileService" binding="tns:BasicHttpBinding_ILogfileService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/ProjectWebservices_Wcf/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>